*{
    margin: 0;
    padding: 0;
}
html,body{
    padding: 0;
    margin: 0;
}
#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    margin: 10px;
}
#outer div{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 50px;
}
#first{
    background-color: red;
}
#second{
    background-color: yellow;
}
#third{
    background-color: green;
}