#main {
    font-family: Arial;
  }
  
#mainImg{
    width: 35%;
  }
  
.box{
    border: 0.25px solid LightGray;
    background-color: OldLace;
    width: 200px;
    padding: 1rem;
  }
  
.boxLink{
    text-decoration: none;
  }
  
.oldImg {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
}
#description{
    background-color: antiquewhite;
}


  
  
  