#container{
    height: 600px;
    width: 60%;
    background-color: rgb(197, 197, 248);
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: flex-start ;
}
#beige{
    align-self: flex-start;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    flex-shrink: 2;
}
#aqua{
    /* flex-basis: 400px; */
    /* flex-grow: 1; */
    /* min-width: 400px; */
    flex-shrink: 3 ;
}
h1{
    text-align: center;
}
#container div{
    height: 100px;
    width: 300px;
    color: black;
    text-align: center;
    font-size: 1.5em;
}
