body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(rgb(33, 202, 231) 0,rgb(230, 221, 221) );
}
.card{
    
    position: relative;
    background:black
    box-shadow:0px 15px 45px;
    width: 200px;
    height: 200px;
    display: flex;
    overflow:hidden;
}
.card:hover{
    width: 600px;
}