
ul{
    display: flex;
    gap: 1rem;
    list-style: none;

}
ul li{
    color: #fff;
    display: grid;
    place-content: center;
    margin: 0;
}
.Menu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s;
    bottom: 0;
    left: 0;
    
}
.Menu::after{
    content: "";
    transform: scale(1.2);
}

