div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    margin: 0 auto;
    margin-top: 10px;
    transition: 2s ease-in-out  ;
    
    /* transition-timing-function: linear; */
}
div:hover{
    margin-top: 400px;
    background-color: aqua;
    transform: rotate(45deg);
     
}