* {
    font-family: 'Courier New', Courier, monospace ;
}
h3{
    background-color: antiquewhite !important;
}

 h3 , h1{
    color: purple;
} 

#login{
    background-color: rgb(228, 228, 228);
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: aquamarine;
    color: blue;
}
.Post a{
    color: purple;
    background-color: yellow ;
}

nav ul li a{
    color:chartreuse ;

}
p+h3{
    text-decoration:underline ;
}

.upvote+button{
    background-color: cornflowerblue;
}
div>input{
    background-color: rgb(198, 255, 176);
}
input[type=text]{
    color: #b92b27;
}
input[type=password]{
    color: green;
}
input[type]{
    background-color: ghostwhite;
}
button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}
button:active{
    background-color: darkmagenta;
} 
p:active{
    font-weight: bold;
    color: blueviolet;
}
input[type="radio"]:checked + label{
    font-weight: bold;
    color: rgb(150, 150, 150);
}

div:nth-of-type(2n){
    background-color: blanchedalmond;
}
h1::first-letter{
    color: green;
}
p::first-line{
    color: rgb(255, 0, 0);
}
p::selection{
    background-color: rgb(236, 234, 73);
}
h3{
    background-color: yellow;
}
h3{
    background-color: blue;
}
 
